a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.slider-wrapper * {
  box-sizing: border-box;
}
.slider {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slider-photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
.slider-photo.initial,
.slider-photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.slider-photo.prev,
.slider-photo.next {
  z-index: 800;
}
.slider-photo.prev {
  transform: translateX(-100%);
}
.slider-photo.next {
  transform: translateX(100%);
}
.slider-button-prev,
.slider-button-next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.slider-button-prev {
  left: 0;
}
.slider-button-next {
  right: 0;
}
/* Use pseudo elements to insert arrows inside of navigation buttons */
.slider-button-prev::after,
.slider-button-next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.slider-button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*--Style price area--*/
.delivery-small {
  color: gray;
}
.buy-now {
  background-color: #5c1182;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 2px;
  color: white;
}
.discount1,
.discount2 {
  color: #f36;
  font-size: 1.5rem;
  line-height: 1;
}

/*--Style additional information area--*/
ol {
  list-style-type: none;
  display: block;
}

/*--Style rating stars--*/
.all-stars {
  color: #555;
  font-size: 34px;
}

.stars-orange {
  color: #f97d00;
}

.half {
  display: inline-flex;
}

.half > div:first-child {
  overflow: hidden;
  width: 12px;
  z-index: 1;
  color: #f97d00;
}
.half > div:last-child {
  position: relative;
  margin-left: -12px;
}

/*--Other offers style--*/
.campaign-image:hover {
  opacity: 0.75;
  transform: scale(1.05) rotate(0.02deg);
}
.campaign-image {
  transition: all 0.86s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 18px;
  font-family: "GT Walsheim Bold";
}

button {
  background-color: #5c1182;
  border: 2px solid #5c1182;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 1em;
  color: white;
  font-family: "GT Walsheim Medium";
}

a {
  color: #5c1182;
  text-decoration: underline;
  font-family: "GT Walsheim Regular";
}
