.info_wrapper {
  margin: auto;
  overflow: hidden;
  width: 600px;
  background-color: #fff;
}
.form-group {
  padding: 0.75rem 0;
  overflow: hidden;
  position: relative;
}

.personal-info input {
  display: block;
  margin: auto;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 80%;
  padding: 0.9rem;
  background-color: #fff;
  border: 1px solid #e4e3e3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
}

.personal-info label {
  color: #969494;
  background-color: #fff;
  // color: #5c1182;
  font-size: 20px;
  // font-size: 12px;
  // transform: translateY(-173%);
  // top: 50%;
  // transition: transform 0.25s linear;
}

// styling payment page
.pay {
  display: block;
  border: 1px solid;
  width: 70%;
  margin: 10px auto;
  height: 40px;
}
