// styling personal info page
.info_wrapper {
  margin: auto;
  overflow: hidden;
  width: 600px;
  background-color: #fff;
}
.form-group {
  padding: 0.75rem 0;
  overflow: hidden;
  position: relative;
}
// input and label
.personal-info input {
  display: block;
  margin: auto;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 80%;
  padding: 0.9rem;
  background-color: #fff;
  border: 1px solid #e4e3e3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
}

.personal-info label {
  margin-left: 60px;
  color: #969494;
  background-color: #fff;
  font-size: 20px;
  place-self: center start;
  pointer-events: none;
  transform-origin: 0 50%;
  transform: translate(10px, 0);
  opacity: 0.7;
  transition: 0.3s;
}

// adding animation to label
.form-field {
  display: grid;
  margin: 30px;
}
.form-field > * {
  grid-area: 1 / 1;
}
input[type="text"]:focus + label {
  transform: translate(0, -135%) scale(0.75);
  opacity: 1;
  color: #5c1182;
}
//styling radio
input[type="radio"] {
  border-radius: 50%;
}
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 1rem;
  -moz-appearance: none;
  border: 1px solid #e4e3e3;
  width: 2rem;
  height: 2rem;
  background: #fff;
  box-shadow: none;
}
// styling payment page
.pay {
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0.9rem;
  background-color: #fff;
  border: 1px solid #e4e3e3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
}
.pay img {
  width: 30%;
  right: 0;
}

// styling checkout footer
.checkoutFooter h3,
p {
  text-align: center;
}
.checkoutFooter img {
  margin: 0 auto;
  display: block;
}
