@media only screen and (min-width: 768px) {
  /*--Style jacket campaign --*/
  .jacket-campaign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .jacket-campaign-header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .slider-wrapper {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .rating {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .additional-info {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .buy {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 50%;
    float: right;
  }
  .about-jacket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .text-side {
    grid-column: 1/2;
  }
  .video {
    grid-column: 2/3;
    margin: 20px;
  }
  .sections-offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 2em;
  }
  .what-you-get {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .benefit-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .benefit-text {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .benefit-shop img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 2em;
  }
  .site-promises > li {
    padding: 20px;
  }
}
@media only screen and (min-width: 1170px) {
  .jacket-campaign {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .slider-wrapper {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .jacket-campaign-header {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .rating {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .additional-info {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .buy {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
