header {
  background-color: white;
  margin-top: 0;
}

// form header style
.breadcrumbs {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
}
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.header-container {
  padding-bottom: 7px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
}

.nav-item {
  padding: 7px 14px 7px 0;
  border-top: 1px solid #f5f5f5;
}

.header-container {
  border-bottom: 1px solid #f5f5f5;
}
.hide-lg span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #5c1182;
  border-radius: 3px;

  z-index: 1;
}

.navigation {
  margin-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.8s;
}
.navigation li a {
  text-decoration: none;
  color: black;
}
.navigation li {
  padding: 10px;
}
.nav-checkbox:checked ~ .navigation {
  max-height: 250px;
}
.logo img {
  width: 100%;
}
/*--Style site promises --*/
.site-promises > li {
  display: inline-block;
  padding: 10px;
}
.site-promises {
  width: 100%;
  text-align: center;
  background-color: white;
}
.site-promises li img {
  width: 20px;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 80px 40px;
  grid-gap: 20px;
}
.hide-lg {
  grid-column: 1/2;
  grid-row: 2/3;
}
.logo {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
.site-promises {
  grid-column: 2/3;
  grid-row: 2/3;
}
.breadcrumbs a {
  text-decoration: none;
  color: #7b7d81;
}
