body {
  margin: 0;
  padding: 0;
  background-color: #e9e8e8;
}
// styling checkout footer
.checkoutFooter h3,
p {
  text-align: center;
}
.checkoutFooter img {
  margin: 0 auto;
  display: block;
}
