/* --- GENERAL ELEMENTS USED BY EVERY PAGE --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e9e8e8;
}
// styling checkout footer

@font-face {
  font-family: "GT Walsheim Bold";
  src: url(/fonts/GT-Walsheim-Bold.woff);
}

@font-face {
  font-family: "GT Walsheim Medium";
  src: url(/fonts/GT-Walsheim-Medium.woff);
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: url(/fonts/GT-Walsheim-Regular.woff);
}

.hide {
  display: none;
}

.info_wrapper {
  margin: auto;
  overflow: hidden;
  max-width: 600px;
  background-color: #fff;
}

.mainWrapper {
  padding: 2em;
}

.centered {
  text-align: center;
}
/* --- FOOTER --- */
.checkoutFooter h3,
.checkoutFooter p {
  text-align: center;
}
.checkoutFooter img {
  margin: 0 auto;
  display: block;
}